<div *ngIf="temas?.length > 0; else noTemas">
  <div *ngFor="let tema of temas" class="container">
  <ul  class="card card-body">
     <li class="collection-item">
       <b><h3>{{tema.title}}</h3></b><br>
       {{tema.description}}<br>
       <button class="btn btn-primary">Comentar</button>
    </li>
  </ul>
</div>
</div>

<ng-template #noTemas>
     <h5>No hay temas aun</h5>
</ng-template>

<button type="button" class="btn btn-info" 
        (click)="openModal(template)">Create template modal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>