<div *ngIf="temas?.length > 0; else noTemas">
    <div *ngFor="let tema of temas" class="container">
  
    <ul  class="card card-body">
        <li class="collection-item">
        <b><h3>{{tema.title}}</h3></b><br>
         {{tema.description}}<br>
       
        <div *ngFor="let comen of comentarios" class="container">
          <div *ngIf="tema.id === comen.$id_tema">
            <ul  class="card card-body mt-5">
                <li class="collection-item">
                  <b><h4>{{comen.contenido}}</h4></b>
                  <br>
                </li>
            </ul>
          </div>
        </div>
        
  
         <div class="card mt-5">
          <div class="card-body">
            <form #comentarioForm="ngForm" (ngSubmit)="onSubmit(comentarioForm,tema.id)">
              <div class="form-group">
                <input 
                  type="text"
                  class="form-control" 
                  name="contenido" 
                  [(ngModel)] = "comentario.contenido"
                  placeholder="Agrega el contenido del comentario"  
                >
              </div>
        
              <div class="form-group">
                <button class="btn btn-primary" type="submit">
                  <i>Comentar</i>
                </button>
                
              </div>
        
            </form>
          </div>
        </div>


  
  
      </li>
    </ul>
  </div>
  </div>






<ng-template #noTemas>
     <h5>No hay temas aun</h5>
</ng-template>