<div class="wrapper">
    <div class="sidebar" data-color="black">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div class="logo-img" align="left">
            <img src="./assets/img/logo.jpg" width="25%"/>
        </div>
        <h1 style="color:chocolate;">Bienvenido a Sysforum</h1>
        <div class="container" align="justify" style="color: teal;" >
            <font size=5> 
                Este es un foro de ayuda para estudiantes de la carrera en
                <strong>Ciencias y Sistemas</strong> de la Facultad de Ingenieria
                en la Universidad San Carlos de Guatemala
            </font>
        </div>
    </div>
</div>
