<br>

<div *ngIf="temas?.length > 0; else noTemas">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div class="panel panel-danger">
          <!-- Default panel contents -->
          <div style="background-color: lightslategray" class="panel-heading">
            <h3 style="color: white">MIS TEMAS</h3>
          </div>
            
          <div class="panel-body">
            <!-- List group -->
            <ul class="list-group">
              <li *ngFor="let tema of temas" class="list-group-item">                
                <b style="color: rgb(113, 115, 117)" class="panel-heading">{{tema.nombre_usuario}}</b><br>  
                <b><h3>{{tema.title}}</h3></b><br>
                <small style="color:rgb(51, 255, 0);">{{tema.tag}}</small><br>
                {{tema.description}}<br>
                <button class="btn btn-primary" routerLink="/VerTemas/{{tema.id}}/{{tema.title}}/{{tema.description}}/{{tema.tag}}" routerLinkActive="active">Ver</button>
                    
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<ng-template #noTemas>
    <h5>No hay temas aun</h5>
</ng-template>

<router-outlet></router-outlet>
