<div class="container" id="collapseExample">
  <div class="card card-body">
     <h1>Mis de temas</h1>
 </div>
</div>

<!-- <a routerLink="/CrearTema" routerLinkActive="active">Retornar</a> -->

<div *ngIf="temas?.length > 0; else noTemas">
 <div *ngFor="let tema of temas" class="container">
 <ul  class="card card-body">
    <li class="collection-item">
      <b><h3>{{tema.title}}</h3></b><br>
      <small style="color:rgb(51, 255, 0);">{{tema.tag}}</small><br>
      {{tema.description}}<br>
      <button class="btn btn-primary" routerLink="/VerTemas/{{tema.id}}/{{tema.title}}/{{tema.description}}/{{tema.tag}}" routerLinkActive="active">Ver</button>
   </li>
 </ul>
</div>
</div>

<ng-template #noTemas>
    <h5>No hay temas aun</h5>
</ng-template>

<router-outlet></router-outlet>
