<h1>
  {{Titulo}}
</h1>

<br>
<div class="container">
  <ul  class="card card-body">
    <li class="collection-item">
      <b><h3>{{Nombre}}</h3></b><br>
      <small style="color:rgb(51, 255, 0);">{{Tag}}</small><br>
      {{Descri}}<br>
   </li>
  </ul>
</div>

<div class="container">
  <div class="card card-body">
    <form #comentarioForm="ngForm" (ngSubmit)="onSubmit(comentarioForm)">
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          name="contenido" 
          [(ngModel)] = "coment.contenido"
          placeholder="Agrega el contenido del comentario"  
        >
      </div>

      <div class="form-group">
        <button class="btn btn-primary" routerLinkActive="active" type="submit">
            <i>Comentar</i>
        </button>
      </div>

    </form>
  </div>
</div>

<div *ngIf="comentario?.length > 0; else noComentario">
    <div *ngFor="let comen of comentario" class="container">
    <ul  class="card card-body">
       <li class="collection-item">
         <b>{{comen.contenido}}</b><br>
      </li>
    </ul>
  </div>
  </div>
  
  <ng-template #noComentario>
       <h5>No hay comentarios</h5>
  </ng-template>


<router-outlet></router-outlet>