
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Crear Tema.
  </a>
</p>

<div class="container" id="collapseExample">
  <form (ngSubmit)="onSubmit()">
    <div class="card card-body">
      <h3>Tema: </h3>
      <input type="text" name="title" [(ngModel)]="tema.title" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      <h3>Descripcion: </h3>
      <input type="text" name="descripcion" [(ngModel)]="tema.description" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</div>

